<nav class="w-4/5 mx-auto">
    <div class="border-b border-borderColor font-mono">
        <div class="flex justify-between items-center px-6 pt-6 pb-3">
            <div>
                <p class="text-logo-Color text-2xl">PlanWellTask</p>
            </div>
            <div class="flex justify-between items-center space-x-5">
                <div>
                    <p class="text-white">Log In</p>
                </div>
                <div>
                    <p class="text-white">|</p>
                </div>
                <div>
                    <p class="text-white">Sign Up</p>
                </div>
            </div>
        </div>
    </div>
</nav>
