<div class="top-0 left-0 w-1/6 h-screen bg-sideBarColor rounded-tr-lg rounded-br-lg">
    <div class="flex items-center">
        <div class="p-10 mx-auto flex items-center gap-5">
            <span>
                <img src="/public/asset/image/philip.jpg" alt="Philip photo" class="rounded-full w-[70px]">
            </span>
            <span>
                <p class="text-white">Philip Housden</p>
            </span>
        </div>
    </div>
</div>
