<!DOCTYPE html>
<html lang="en" class="h-screen">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/CSS/style.css">
    <title>Plan Well Task</title>
</head>
<body class="bg-background h-full font-mono flex flex-col">
    <header>
        <%- include('partials/nav-bar.ejs') %>
    </header>
    <main class="w-4/5 mx-auto flex-grow flex justify-start">
        <div class="w-4/5 mx-auto my-20">
            <p class="text-logo-Color text-5xl">PlanWellTask</p>
            <p class="text-white text-5xl w-4/5 mt-20">
                Your Personal Task Management Solution
            </p>
            <div class="flex items-center justify-center flex-grow mt-[20rem]"> 
                <div class="relative group">
                    <div class="absolute inset-0 animate-pulse bg-btnGreen rounded-md blur opacity-70 group-hover:opacity-100 transition duration-1000">
                    </div>
                    <a href="#">
                        <button class="relative bg-background py-3 px-6 rounded-md text-white group-hover:text-btnGreen transition duration-1000">
                            Get Started &rarr;
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </main>       
</body>
</html>
